.spinner {
    font-size: 144;
}

.spinner path {
    stroke: rgb(68, 75, 84);
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 90;
    stroke-dashoffset: 0;
    animation: animate 6s linear 0.5s infinite forwards;
}

@keyframes animate {
    0%   { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 180; }
}